/*  your css code here. If applicable */
body {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.panel {
    display: inline-block;
}

.left {
    width: 450px;
    margin-top: 70px;
}

.left img {
    width: 420px;
}

.desc {
    margin-top: 30px;
    font-size: 20px;
    color: #111;
}

.right {
    margin-left: 40px;
    margin-top: 70px;
}

form {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    width: 300px;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #1877f2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.forgot {
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

.signup {
    background-color: #42b72a;
    color: white;
    padding: 12px;
    margin-top: 10px;
    width: 300px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
